page-home {

}
.fila{
    height: 100%;
    
}

.titulo{
    font-size: 6vw;
    color: white;
}


.espacio{
    height: 25%
}



.carta1 {    
    background-color: red;
    box-shadow: -5px 10px black;
}

.carta2{
    background-color:#3d9326;
    box-shadow: 5px 10px black;
}