
<ion-content>
  <ion-row class="fila">
    <ion-col text-center class="carta carta1" (click)="cambiar('LindasPage')" >
      <ion-row class="espacio">
      </ion-row>
      <h1 class="titulo" padding margin> Cosas LINDAS del edificio </h1>
      <img [src]="imagen" *ngIf="imagen">
    </ion-col>
    <ion-col text-center class="carta carta2" (click)="cambiar('FeasPage')" >
      <ion-row class="espacio">
      </ion-row>
      <h1 class="titulo" padding margin> Cosas FEAS del edificio </h1>
      <img [src]="imagen" *ngIf="imagen">
    </ion-col>
  </ion-row>

</ion-content>
